<%- include('partials/header.ejs'); -%>

<div class="page-container">

  <div class="box" id="heading">
    <h1>
        List View
    </h1>
  </div>

  <div class="box-container">

  </div>
</div>


  <script>


  </script>
  
  <%- include('partials/footer.ejs'); -%>