/* Apply border-box to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #121212;
  min-height: 1000px;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 95vh;
  color: #e0e0e0;
}

main {
  text-align: center;
  flex: 1 0 auto;
}

#heading {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Buttons on edges, heading centered */
  padding: 10px;
  width: 100%;
  margin-bottom: 40px;
  background-color: #6200ea;
  text-align: center;
}

h1 {
  text-align: center;
  flex-grow: 1; /* Ensures it stays centered */
  margin: 5px 0;
}

.highlight-today {
  background-color: #ffd43b;
  color: #121212;
  padding: 5px 10px;
  border-radius: 5px;
}

.page-container {
  width: 70%; 
  min-width: min-content;
  max-width: 100%;            /* Prevents it from overflowing on small screens */
  margin: 0 auto;             /* centers the container in the page */
  overflow: auto;             /* Prevents content overflow issues */
}

/* Center the boxes side by side */
.box-container {
  display: flex;
  justify-content: center;     /* centers boxes horizontally */
  align-items: flex-start;     /* aligns boxes at the top */
  gap: 20px;                   /* space between the boxes */
}

/* General box styling */
.box {
  flex: 1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  background-color: #1e1e1e;
}

/* Specific styling for the to-do list box */
#to-do {
  background-color: #1e1e1e;
}

/* Specific styling for the done list box */
#done {
  background-color: #5f5e5e; /* a light gray background */
}

/* Styling for items in the done list: gray text with strikethrough */
#done p {
  color: #888;
  text-decoration: line-through;
}

form.edit {
  display: flex;
  align-items: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #292929;
  transition: background 0.3s ease;
}

p.centre {
  flex: 1;
  text-align: justify;
  border: 0;
  padding: 0;
}

form.centre {
  flex: 1;
  text-align: justify;
}

.box-container .item:first-of-type {
  border-top: 1px solid #292929;
}

.box-container .item:last-child {
  border-bottom: 0px;
}

.item.end-of-list {
  border-top: 0px !important;
  padding-left: 20px;
}

.item:hover {
  background: #2c2c2c;
}

p {
  margin: 0;
  padding: 20px 0;
  font-size: 20px;
  color: #e0e0e0;
}

form {
  text-align: center;
  margin-left: 0px;
}

button.add {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #03dac6;
  color: #121212;
  font-size: 30px;
  font-weight: bold;
  border-width: 0;
  cursor: pointer;
  transition: 0.3s ease;
}

button.add:hover {
  background-color: #00c4b4;
}

button.edit {
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  flex-shrink: 0;

}

.icon {
  height: 20px;
  width: auto; /* Maintains the aspect ratio */
}

.icon.add {
  height: 40px;
  width: auto;
}

.icon.check {
  transition: transform 0.3s ease;
  transform-origin: center;
}

.icon.check:hover {
  transform: scale(1.3); 
}

.icon.change-day {
  height: 40px;
  width: auto; 
  transition: transform 0.3s ease;
  transform-origin: center;
}

.icon.change-day:hover {
  transform: scale(1.3); 
}

.icon.view-list {
  height: 40px;
  width: auto; 
  transition: transform 0.3s ease;
  transform-origin: center;
}

.icon.view-list:hover {
  transform: scale(1.3); 
}

.icon.return-main {
  height: 40px;
  width: auto; 
  transition: transform 0.3s ease;
  transform-origin: center;
}

.icon.return-main:hover {
  transform: scale(1.3); 
}

.empty-button-container {
  width: 40px;
  margin: 0 10px;
}

form input:focus {
  color:#bb86fc;
}

input[type="text"] {
  text-align: left;
  height: 60px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 100%;
  color: #e0e0e0;
  flex: 1;
  padding: 0;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #bb86fc;
  color:#FFD43B;
}

::placeholder {
  color: lightgray;
  opacity: 1;
}

footer {
  flex: 0 0 auto;
  color: white;
  text-align: center;
  padding: 10px;
  background-color: #1e1e1e;
  border-radius: 6px;
}

.list {
  list-style: none;
  padding: 1rem;
  margin: 0;
  width: 100%;
}

.list p {
  padding: 0.5rem;
}

.list-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.list-light-grey {
  background-color: #5c5c5c;
}

.list-dark-grey {
  background-color: #424242;
}

.list-yellow {
  background-color: #ffd43b;
}

.list-yellow p {
  color: #424242;
}

.list-date {
  width: 10rem;
  align-items:center;
}

.list-text {
  flex: 1;
}

.list-text p {
text-align: left;
}

.list-completed {
  align-items:center;
  width: 5rem;

}
